body {
	background: url('../back.png') no-repeat;
	background-size: cover;
	font-family: 'Oxygen', sans-serif;
}

.main {
	margin: 0 auto;
	width: 310px;
	border-radius: 5px 5px 0px 0px;
	margin-top: 20px;
	position: relative;
}

header {
	background: linear-gradient(rgb(97,113,154), rgb(74, 82, 119));
	background: -webkit-linear-gradient(rgb(97,113,154), rgb(74, 82, 119));
	background: -o-linear-gradient(rgb(97,113,154), rgb(74, 82, 119));
	color: rgb(255, 255, 255);
	border-radius: 4px 4px 0px 0px;
}

ul {
	margin: 0px;
	padding: 0px;
}


li {
	list-style: none;
	padding: 14px;
	border-bottom: 1px solid rgb(206, 214, 223);
}

header button {
	padding: 12px 16px;
	border: none;
	border-radius: 5px;
	background-color: transparent;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(75, 82, 120, 1), inset 0px 2px 0px -1px rgba(230, 230, 230, 1), 1px 5px 0px -3px rgba(107, 121, 165, 1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(75, 82, 120, 1), inset 0px 2px 0px -1px rgba(230, 230, 230, 1), 1px 5px 0px -3px rgba(107, 121, 165, 1);
  box-shadow: 0px 0px 0px 1px rgba(75, 82, 120, 1), inset 0px 2px 0px -1px rgba(230, 230, 230, 1), 1px 5px 0px -3px rgba(107, 121, 165, 1);
}

.left-arrow {
	margin: 8px 44px 10px 8px;
}

.right-arrow {
	margin: 8px 0px 8px 74px ;
}

.fa-play {
	color: rgb(255, 255, 255);
}

input[type="text"]{
	font-style: italic;
	border-color: solid rgb(175, 175, 175);
	background-color: rgb(230, 230, 230);
	padding: px;
	width: 200px;
}

input[type=checkbox] +label>i.i1 {
	display: none;
}
input[type=checkbox]:checked +label>i.i2 {
	display: none;
}
input[type=checkbox]:checked +label>i.i1 {
	display: inline;
}

input[type=checkbox]:checked + label>span {
	text-decoration: line-through;
}
.fa-circle {
	color: #dddddd;
}
.fa-check-circle-o {
	color: green;
}

[type="checkbox"] {
	float: none;
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.fa-bell-o {
	color: rgb(69, 86, 120);
}

.bell-grey {
	col
}

.i-bell {
	float: right;
}

li span {
	margin-left: 20px;
	padding: 15px 16px 22px 16px;
	border-left: 1px solid rgb(250, 210, 209);
}

li span input {
	border-radius: 3px;
	padding: 5px 0px;
}

.list-items {
	background-color: rgb(246, 246, 246);
	border: 1px solid rgba(145, 141, 143, 0.3);
}

.stack-1 {
	margin: 0 auto;
	background-color: rgb(246, 246, 246);
	width: 300px;
	height: 4px;
	border: 1px solid rgba(149, 151, 156, 0.3);
	border-top: none;
}

.stack-2 {
	margin: 0 auto;
	background-color: rgb(246, 246, 246);
	width: 290px;
	height: 3px;
	border: 1px solid rgba(149, 151, 156, 0.3);
	border-top: none;
}

.stack-3 {
	margin: 0 auto;
	background-color: rgb(246, 246, 246);
	width: 280px;
	height: 3px;
	border: 1px solid rgba(149, 151, 156, 0.3);
	border-top: none;
}

.arrow-up {
	width: 0; 
	height: 0;
	margin-left: 150px; 
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid rgb(88, 109, 153);
	position: absolute;
	top: -10px;
}

.red-line-1, .red-line-2, .red-line-3 {
	border-left: 1px solid rgb(250, 210, 209);
	margin-left: 46px;
	height: 4px;
}

.red-line-2 {
	margin-left: 43px;
}

.red-line-3 {
	margin-left: 40px;
}

.stack-4 {
	background-color: rgb(54, 54, 52);
	height: 83px;
	width: 100px;
	margin: 0 auto;
	position: relative;
	top : -515px;
	left: 180px;
	z-index: -1;
}

.stack-4 button {
	margin-left: 50px;
	width: 30px;
	height: 30px;
}

.stack-4 button:last-child {
	margin-top: -4px;
	background: transparent;
	border: none;
	border-radius: 5px;
}


